body{
    background-image: radial-gradient(purple, pink, lightblue);
    font-size: 15px;
    margin-left: 50px;
    max-width: 600px;
}
a {
    font-size: 15px;
}
section {
    padding-left: 50px;
    font-size: 17px;
}