doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Factorio engineer (PHD) - student 3
body
    h1 Christopher Smith
    h2 Factorio engineer (PHD)
    section
        h2 Location 
        p The University of Fulgoria is located on the legendary planet of Fulgoria
    section 
        h2 About 
        section 
            h3 Quality Cycling 
            p This major will teach you how to cycle quality.  In the competitive world, production ratios are important, <! TODO
        section
            h3 Space Platform Construction
            p  With your degree in Factorio engineering, you will learn all about how to launch rockets and construct a space platform capable of interstellar travel.  We will leave no stone unturned in your education.
        section
            h3 Research
            p We understand that the Factory must grow.  The best way to grow your factory is with cool new technologies found around the galaxy.  With your degree as a Factorio engineer, you will be able to 
    section
        h2 Things To Do 
        ul 
            li
            li
            li
    You will learn how to study Factorio 
    p A complete degree in Factorio factory optimization
