doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Factorio engineer (PHD) - student 3
body
    h1 You will learn how to study Factorio 
    p A complete degree in Factorio factory optimization
