doctype html
link(rel='stylesheet' href='css/student1.css')

body 
  h1 Comments 
  p Add your comments
  form(action='/', method='post')
    label(for='comments') Comment here:
    input(type='text' name='comments')
    input(type='submit' value='Add')
  hr(width:='10px')
  h2 Current Comments
  ul
    - for (let i = 0; i < tasks.length; i++)
        li= tasks[i].id + " " + tasks[i].task
            form(action="/delete", method="post")
                input(type="hidden", name="id" value=tasks[i].id)
                input(type="submit", value="Delete")