doctype html
html
  head
    meta(charset='UTF-8')
    title University On The Moon
    link(rel='stylesheet', href='/css/student2.css')
  body
    h1 Comments
    header
      nav.navbar
        a(href='/student2') Return- Light Propulsion Graduation Program
    form(action='/comment' method='POST' onsubmit='addComment(event)')
      label(for='comment_table_2') Add a Comment:
      input#comment_table_2(type='text' name='comment_table_2' required)
      input(type='submit' value='Submit')

    h2 All Comments
      ul
        if comment && comment.length
          - for (let i = 0; i < comment.length; i++)
            li
              | #{comment[i].comment}
              form(action='/comment/delete', method='POST', onsubmit="setTimeout(function () { window.location.reload(); }, 10)")
                input(type='hidden' name='id' value=comment[i].id)
                input(type='submit' value='Delete')
              form(action='/comment/edit', method='POST', onsubmit="setTimeout(function () { window.location.reload(); }, 10)")
                input(type='hidden' name='id' value=comment[i].id)
                label(for='update_comment_2') Update Comment:
                input(id='comment' + i type='text' name='update_comment_2')
                input(type='submit' value='Update')
        else
          li No comments yet!