doctype html
link(rel='stylesheet' href='css/student2.css')

head
<<<<<<< HEAD
  meta(charset='UTF-8')
  title University On The Moon
  
h1 Trennon Talbot
h2 Light Propulsion Graduation Program

h2 Location:
p
  | We are located on the Light Side of the Moon. This allows for our students to experience total freedom in testing their prototypes as well as quick and easy access to internships.
p
  | Unlike our Dark Moon University, we offer a very energetic and bright campus to tour and a lovely view over the gardens and orchards from the dorms.

h2 About

h3
  | Spacesuit Training: You will learn how to spacewalk and how to repair minor damages outside local ships.
h3
  | Math Skills: If you are a brainy for math, this major is for you as we explore material reflection of materials and transfer rates of light energy.
h3
  | Welding: As versitile as the materials it uses, master the flames as we learn who to build our own ships to cross the open expance of space.

h2 Things To Do
ul
  li Build Ships
  li Crew Member
  li Teacher

img(src='/img/Moon1.jpg' alt='Moon')
img(src='/img/Moon2.jpg' alt='School Project')

ul
=======
    title Under Water Basket weaver (Masters) - student 2
body
    h1 You will learn how to weave baskets underwater
>>>>>>> parent of 013c9d6 (First Commit)
