doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Planet Discovery Major
body
    h1 Travis Goodrich
    h2 Location
    section The ISS has been done away with, we now house people in the Planet Discovery major directly on the StarFire Protocol. Earth's plan for the future, a fully liveable space station that will take humans as far as they need to go to find a new hospitable planet.
    h2 About
    h3 Why you should study!
    section Earth is currently on its way to being uninhabitable. Through the use of pollutants and wars we have unfortunately created an unstable planet that will soon not support human life. The StarFire Protocol was created with the sole purpose of preserving the human race. Will you join us and study to board the StarFire Protocol
    h3 Who you will work with! 
    section Neil Degrasse Tyson is leading the charge of this endeavor. You will learn from him all their is to know about space travel and what traveling the skies will mean for you. Elon Musk will have regular talks and will be showing what his major's students will be building to facilitate your travel and expeditions.
    h3 What does this mean for the human race?
    section We are opening this major for two reasons, we want to invite people to volunteer for the space program. We do not want to have a draft to send people away in search of a new planet. We also still need people to advance our technology which is why we are not closing any other majors to supplement this major.
    h2 Things To Do
    ol Advise researchers on viable planets
    ol Create a plan to visit planets
    ol Cooperate with other students on planet assessments
    ol Be the first humans to colonize another planet.